.Webshop {
	display: flex;
	margin-bottom: 70px;

}
.Buttons {
	display: flex;
	justify-content: space-around;
	margin-bottom: 100px;
	color: #007aff;
	font-size: 50px;
	margin-left: 150px;
	.Previous, .Next {
		transition-duration: .15s;
		&:hover{
			color: darken(#007aff, 10%);
			cursor: pointer;
		}
		&:active{
			color: darken(#007aff, 20%);
			cursor: grabbing;
		}
	}
}
