@import '../../scss/mixins';

.Webshop {
	display: flex;
}

.PaginateBtn {
	padding: 0;
	border: none;
	outline: none;
	font: inherit;
	color: inherit;
	background: none;
	width: 70px;
  }

.Buttons {
	display: flex;
	justify-content: space-around;
	color: #007aff;
	font-size: 50px;
	margin-bottom: 70px;
	.Previous,
	.Next {
		transition-duration: .15s;
		&:hover {
			color: darken(#007aff, 10%);
			cursor: pointer;
		}
		&:active {
			color: darken(#007aff, 20%);
			cursor: grabbing;
		}
	}
	.Disabled {
		color: #007bff2f;
	}
}



@include phone {
	.Webshop {
		display: block;
	}
	.Buttons {
		margin: 0;
		margin-bottom: 70px;
	}
}
