.InputField {
    width: 100%;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    padding: 6px 10px;
    display: block;
    width: 60%;
    margin: 0 auto 30px auto;
    border-radius: 5px;
    min-width: 150px;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}