.Login {
    margin: 0 auto;
    border: 1px solid #dedede;
    width: 500px;
    height: 500px;
    color: #fbc008;
    label{
        margin-left: 100px;
    }
    .Button{
        button{
            &:hover{
                background-color: #fbc008;
            }
        }
    }
}