.Button {
    button {
        height: 30px;
        width: 100px;
        margin: 10px;
        border: 1px solid #dedede;
        background-color: white;
        color: gray;
        font-size: 15px;
        transition-duration: .15s;
        border-radius: 15px;
        &:hover{
            background-color: #007AFF;
            color: white;
            cursor: pointer;
        }
    }
}