@import '../../scss/mixins';

.StoreItem {
	border-bottom: 1px solid #dedede;
	padding: 20px;
	.Image {
		grid-area: Image;
	}
	.Name {
		grid-area: Name;
	}
	.Description {
		grid-area: Description;
	}
	.Price {
		grid-area: Price;
	}
	.RemoveCart {
		grid-area: RemoveCart;
	}
	color: #4267b2;
	display: grid;
	grid-template-columns: 200px;
	grid-template-rows: 67px 67px 67px;
	grid-template-areas: 'Image  Name Name Name' 'Image Description Description Description'
		'Image Price Price RemoveCart';

	.Image {
		img {
			height: 200px;
			width: 200px;
		}
	}
	.Name {
		padding-left: 30px;
		h3 {
			font-size: 30px;
			margin-block-start: 0;
			margin-block-end: 0;
		}
	}
	.Price {
		padding-left: 30px;
		font-size: 40px;
		align-self: end;
	}
	.Description {
		padding-left: 30px;
		align-self: center;
	}
	.Buttons {
		display: flex;
		justify-content: space-between;
		margin-top: 25px;
		.RemoveCart {
			color: red;
			font-size: 40px;
			align-self: end;
			justify-self: end;
			transition-duration: .15s;
			&:hover {
				color: darken(red, 10%);
				cursor: pointer;
			}
			&:active {
				color: darken(red, 20%);
				cursor: grabbing;
			}
		}
		.AddToCart {
			padding-top: 8px;
			height: 32px;
			width: 40px;
			border-radius: 50%;
			background-color: #27a645;
			color: white;
			transition-duration: .15s;
			font-size: 20px;
			text-align: center;
			border: none;
			&:hover {
				cursor: pointer;
				background-color: darken(#27a645, 10%);
			}
			&:active {
				background-color: darken(#27a645, 20%);
				cursor: grabbing;
			}
			.CartIcon {
				margin-top: 3px;
				margin-left: -3px;
			}
		}
	}
}

@include phone {
	.StoreItem {
		
	}
}