@import './scss/mixins';

body,
html {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;
	padding: 0 11%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


@include breakpoint (largeDesktop) {
	body,html{
		padding: 0 9%;
	}
}
@include breakpoint (desktop) {
	body,html{
		padding: 0 6%;
	}
}

@include breakpoint (smallDesktop) {
	body,html{
		padding: 0 4%;
	}
}

@include breakpoint (laptop) {
	body,html {
		padding: 0 2%;
	}
}

@include breakpoint (MDPIlaptop) {
	body,html {
		padding: 0 4%;
	}
}
@include phone{
	body,html{
		padding: 0;
	}
}

